<!doctype html>
{% load static i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Chef knives{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'admin/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'chef_knives/css/style.css' %}">
    <style>{% block style %}{% endblock style %}</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>

  </head>
  <body>
    <header><div class="container">
      <ul>
        <li class="navbar navbar-light bg-light"></li>
        <a class="navbar-brand" href="#">Chef knives</a>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'index' %}">knives</a></li>
        {% if request.user.is_authenticated %}
            <span class="user-info">{{ request.user }}</span>
            {% if request.user.is_superuser or request.user.is_staff %}
              <li><a href="{% url 'cart' %}">cart</a></li>
              <li><a href="{% url 'admin:index' %}">admin</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">log out</a></li>
        {% else %}
            <span class="user-info"></span>
            <li><a href="{% url 'login' %}{% if request.path != '/accounts/logout/' %}?next={{ request.path }}{% endif %}">log in</a></li>
            <li><a href="{% url 'register' %}">{%trans "sign up"|capfirst %}</a></li>
        {% endif %}
      </ul>
    </div></header>
      <main><div class="container">{% block content %}{% endblock %}</div></main>
  <footer><div class="container"><p>&copy; 2023 Chef knives team </p></div></footer>
  </body>
</html>