{% extends 'base.html' %}
{% block style %}
{% load static %}
{% endblock style %}
{% block content %}
<h1>Welcome To Our Knife Store</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'chef_knives/img/knife2.jpg' %}" height="650px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'chef_knives/img/knife1.jpg' %}" height="650px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'chef_knives/img/knife3.1.jpg' %}" height="650px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <p>Once upon a time, before Western Culture and foods were brought to Japan (Before the year 1900), Single Bevel Edge of Japanese Traditional style knives were very common knives for daily cooking in Japan. 
    The Single Bevel of Japanese Traditional style knives make great cutting performance. 
    For examples, the “Yanagiba” is well designed for slicing and preparing the Sashimi (Raw Fish) without losing the beautiful shape and freshness. The “Usuba” is suitable design for cutting, peeling, also thin & precise cutting for vegetables. 
    They are necessary tools and knives for the Japanese foods (their main food materials were fishes and vegetables).
    Nowadays, Sushi and many other Japanese foods are becoming very popular and commonplace throughout the world. You may have even seen the impressive skills of a Sushi Chef firsthand, as he uses his Yanagiba knife to delicately slice raw fish for a beautiful Sashimi dish.
    Japanese traditional style knives have long history, and there a number of Japanese traditional-style knives that are most likely not commonplace in your country.
    The islands that make up Japan are geographically isolated from other countries and, as a result, the Japanese have always made the most of the fresh seasonal food resources offered by their land, lakes, rivers and seas. 
    The diversity of these foods, in addition to cultural influences, led to the development of a number of different knives that were each intended for a very specific purpose. 
    The single bevel edged Yanagiba, Deba and Usuba are unique to Japan, and they were developed to cleanly cut ingredients, because this better preserves the fresh flavor and texture of the food.
    Japanese Traditional Style knives are usually fitted with a traditional Japanese wooden handle and have a blade with a tapered tang that fits inside a hole that is burned in to the wooden handle. 
    Japanese Traditional Style Knives are typically lighter in weight and are much easier to replace; this is useful if you damage a handle.
    The blades of Japanese knives are typically tempered to a higher Rockwell hardness than most kitchen knives manufactured in the West. This enables Japanese knives to have superior edge sharpness and edge retention.
    There are many numbers of professionals and serious home chefs (especially Japanese food chefs) who demand outstanding cutting performance to make special foods that require the freshness, beautiful shape & looks and delicate works. 
    Also many people love the traditional taste and traditional forged knives which can feel the soul of craftsmanship and something special to own.</p>
  
  <h2>Featured Products</h2>
  {% for product in products %}
    <div class="product">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <a href="{% url 'product_detail' product.pk %}">Learn more</a>
    </div>
  {% empty %}
    <p>There are no products currently available.</p>
  {% endfor %}
{% endblock %}